// !compileOnSave

body {
  font-size: 90%;
  .bd-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .bd-sidebar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

img {
  border: 1px solid #ccc;
  border-radius: 3px;
}

pre.highlight {
  background-color: #333;
  padding: 20px;
  color: #bbb;
}
