// !compileOnSave

footer {
  background-color: #eee;
  padding: 3rem 0;
  text-align: center;
  ul {
    padding: 0;
    margin-bottom: 1rem;
    li {
      list-style-type: none;
    }
  }
  p {
    font-size: 0.8rem;
    color: 666;
  }
}
